@font-face{
    font-family: 'MyFont';
    src: url(fonts/mistral.ttf);
}

body{
    background-color: #151527;
}

.containerMaster{
    position: relative;
    /* height: 200px; */
    width: 40vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid red; */
    color: white;
    top: 25vh;
    left: 30vw;
    pointer-events: none;
}

#rahulRanjan{
    /* position: absolute; */
    margin-top: -70px;
    font-family: 'MyFont';
    font-size: 64px;
    pointer-events: none;
}

.circles{
    position: absolute;
    background-image: url("/circles.svg");
    background-repeat: no-repeat;
    z-index: -2;
    height: 163px;
    width: 219px;
    margin-top: -175px;
    margin-left: -125px;
    opacity: 0.5;
}

.gradientBox{
    width: 500px;
    height: 300px;
    margin-left: -25px;
    background: linear-gradient(to right top, #9255B5, #F9A676, #FFE3C1)
}

#downloadCV{
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 20px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: center;
    color: #151527;
    font-weight: 600;
    box-shadow: 1px 1px 10px 1px rgba(00, 00, 00, 0.2);
}

a{
    text-decoration: none;
    color: #151527;
}

#downloadCV:hover{
    box-shadow: 1px 1px 10px 1px rgba(00, 00, 00, 0.5);
}

#myDescription{
    padding: 25px;
    color: #151527;
    font-weight: 600;
    font-size: 18px;
}