<div class="footer">
    <div class="footer--left">
        <span class="footer--brand r-margin">ranjanrahul</span>
        <li><a href="/" class="footer--left footer__e footer__home">Back to Top</a></li>
        <li><a href="" class="footer--left footer__e footer__skills">What I Do</a></li>
        <li><a href="/blog" class="footer--left footer__e footer__blog">Blog</a></li>
        <li><a href="" class="footer--left footer__e footer__portfolio">Portfolio</a></li>
    </div>
    
    <div class="footer--right">
        <li><p class="footer__e">© Rahul R</p></li>
        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square nav--right nav__s"></i></a></li>
        <li><a href="https://github.com/goofyNugtz" target="_blank"><i class="fab fa-github-square nav--right nav__s"></i></a></li>
        <li><a href="/"><i class="fab fa-linkedin nav--right nav__s"></i></a></li>
        <li><a href="/"><i class="fab fa-dev nav__s r-margin"></i></a></li>
    </div>
    

</div>