<link rel="stylesheet" href="sass/main.css">
<link href="/css/all.css" rel="stylesheet">

<header class="header">
    <div class="background-dark"></div>
    <div class="background-light"></div>
    <p class="txt txt--hello mg-top">Hello, I'm</p>
    <p class="txt txt--name">RAHUL RANJAN</p>
    <p class="intro">I am sophomore year undergrad from National Institute of Technology, Durgapur. I'm currently interested in Web Development, Web Designs (UI/UX) and also <a href="https://www.stopstalk.com/user/profile/goofyNugtz">Competitive Programing</a> at times.
    </p>
    <p></p>
    <button class="button mg-top-small mg-down">
        <i class="fas fa-at"></i>
        Contact Me
    </button>
</header>