<header class="header">
    <div class="header__primary">
        <span class="header__primary--hello">Hello, I’m </span>
        <span class="header__primary--name">
            RAHUL RANJAN
        </span>
    </div>
    
    <div class="header__secondary">
        <p class="header__secondary--text"> 
            I am a CS Freshie from NIT Durgapur, expected to finish course in 2024. Currently a beginner coder on HackerRank, CodeForces and CodeChef doing <a class="header__secondary--link" href="https://www.stopstalk.com/user/profile/goofyNugtz">Competitive Programming.</a>
        </p>
        <button class="header__secondary--button">
            Contact Me
        </button>
    </div>

    <div class="header__gradient"></div>

    <div class="header__image"></div>
</header>