<div class="nav">
    <div class="nav--left">ranjanrahul</div>
    <div class="nav--right">
        <li><a href="/" class="nav__e nav__home">Home</a></li>
        <li><a href="" class="nav__e nav__skills">What I Do</a></li>
        <li><a href="/blog" class="nav__e nav__blog">Blog</a></li>
        <li><a href="" class="nav__e nav__portfolio">Portfolio</a></li>
        <li><i class="fab fa-facebook-square nav__s"></i></li>
        <li><i class="fab fa-github-square nav__s"></i></li>
        <li><i class="fab fa-linkedin nav__s r-margin"></i></li>
    </div>
</div>