<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="sass/main.css">
    <title>GoofyNugtz</title>
</head>
<body>
    <%- include('_navigation') %>
    <div class="container">
        <div class="home-tag tags">Home</div>
        <%- include('_header') %>

        <div class="what-i-do-tag tags">What I Do</div>
        <div class="my-skills" id="my-skills">
            <div class="heading"><h1>Stuff I Can Work With</h1></div>
            <div class="skills-container">
                <span class="front-end skills">Front End</span>
                <span class="front-end skills front-end--html">HTML</span>
                <span class="front-end skills front-end--css">CSS</span>
                <span class="front-end skills front-end--sass">SASS</span>
                <span class="front-end skills front-end--js">JavaScript</span>
                <span class="front-end skills front-end--reactjs">ReactJS</span>
                <span class="front-end skills front-end--js">TypeScript</span>
                <span class="front-end skills front-end--angular">Angular</span>
                <br>
                <span class="back-end skills">Back End</span>
                <span class="back-end skills back-end--nodejs">NodeJS</span>
                <span class="back-end skills back-end--express">Express</span>
                <span class="back-end skills back-end--sql">SQL</span>
                <span class="back-end skills back-end--mongodb">MongoDB</span>
                <br>
                <span class="languages languages--c skills ">C</span>
                <span class="languages languages--cpp skills">C++</span>
                <span class="languages languages--python skills">Python</span>
                <span class="languages languages--kotlin skills">Kotlin</span>
                <br>
                <span class="extras-1 skills extras-1--seo">SEO</span>
                <span class="extras-2 skills extras-2--svg">Vector Graphics</span>
            </div>
        </div>

        <%- include('_blog_integrated') %>
    </div>
</body>
</html>