@font-face {
	font-family: Poppins;
	src: url("../fonts/Poppins.ttf");
}

@font-face {
	font-family: PoppinsBold;
	src: url("../fonts/PoppinsSemiBold.ttf");
}
@font-face {
	font-family: SFPro;
	src: url("../../fonts/SFProText-Regular.ttf");
}
@font-face {
	font-family: SFProBold;
	src: url("../../fonts/SFProText-Bold.ttf");
}

/*colors:
background-dark: #0F111A
background-dark-inverse: #F0EEE5
background-dark-alt: #151527

*/

:root {
	color-scheme: dark;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-smooth: always;
	background-color: #151527;
	margin: 0;
	padding: 0;
	color: white;
	font-family: "SFPro", "Segoe UI", "Poppins";
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	// box-sizing: inherit;
}

@media screen and (min-width: 1025px) {
	.container {
		display: grid;
		grid-template-columns: 20vw 1fr 20vw;
		grid-template-rows: max-content max-content max-content;
		grid-row-gap: 10rem;
	}

	.tags {
		position: sticky;
		// writing-mode: vertical-rl;
		margin-top: auto; //FIXME: DO NOT CHANGE
		// transform: rotate(180deg);
		padding: 10px;
		font-size: 1vw;
		opacity: 0.25;
	}

	.home-tag {
		grid-area: 1 / 1 / 2 / 2;
		top: 5px;
	}

	.what-i-do-tag {
		grid-area: 2 / 1 / 3 / 2;
		top: 4vh;
	}
}
