.blog-home {
    margin-top: 5vw;
    grid-column: 2 / 3;

    &__heading{
        position: absolute;
        color: rgba(255, 255, 255, .05);
        font-size: 9vw;
        transform: translateY(-40%);
        padding: 10px 0px;
        z-index: -1;
        font-family: 'PoppinsBold';
    }

    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__tile{
        padding: 40px;
    }

    &__title{
        width: max-content;
        font-size: 20px;
        color: #AB69A7;
        transition: all .2s;

        &:hover{
            color: #FBBF94;
        }
    }

    &__preview{
        overflow-y: hidden;
        font-size: 16px;
        padding: 10px 0px;
        height: 60px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .blog__read-more{
        text-decoration: none;
        color: royalblue;
    }
}

a {
    text-decoration: none;
}