.header {
	grid-area: 1 / 1 / 2 / 4;
	margin-left: auto;
	margin-right: auto;
	// height: max-content;
	// display: grid;
	// grid-template-rows: calc(100vh-6.8rem);
	max-width: 80rem;
	// background-color: #0f111a;
	// z-index: -1;
}

.background-dark {
	position: absolute;
	top: 0;
	pointer-events: none;
	left: 0;
	height: 75.4rem;
	background-color: #0f111a;
	width: 100%;
	z-index: -1;
}

.background-light {
	position: absolute;
	top: 0;
	left: 17.5rem;
	// width: 65rem;
	width: 45.5%;
	height: 75.4rem;
	background-color: transparent;
	z-index: 1;
	backdrop-filter: invert(100%);
	pointer-events: none;
	// background-clip: text;
	// -webkit-background-clip: text;
}

.txt {
	backdrop-filter: invert(100%);
	background-color: transparent;
	font-weight: 900;
	padding: 0 5rem;
	margin: 2rem 0;
	width: max-content;
	color: black;
	z-index: 1;
	// user-select: none;

	&--hello {
		font-size: 4rem;
		letter-spacing: .4rem;
	}

	&--name {
		font-family: 'Poppins';
		font-size: 90px;
		letter-spacing: 1rem;
	}
}

.intro {
	font-family: 'SFPro';
	// font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	max-width: 45rem;
}

.button {
	// position: absolute;
	appearance: none;
	text-rendering: optimizeLegibility;
	border: 0;
	width: 16rem;
	height: 6rem;
	outline: 0;
	background-color: #AB69A7;
	backdrop-filter: invert(100%);
	color: black;
	z-index: 5;
	border-radius: 20rem;
	font-family: "Poppins";
	font-weight: 700;
	transition: all 0.3s;
	box-shadow: 0 2px 5px 8px rgba(255, 255, 255, 0.2);

	&:active {
		transform: translateY(2px);
		box-shadow: 0 1px 5px 4px rgba(255, 255, 255, 0.1);
	}
}

.mg-top {
	margin-top: 15rem;
}

.mg-top-small {
	margin-top: 5rem;
}

.mg-down {
	margin-bottom: 10rem;
}
