@media screen and (min-width: 1025px) {

    .my-skills {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        font-family: 'PoppinsBold';
        display: grid;
        grid-template-rows: min-content max-content;
        grid-row-gap: 30px;
        grid-template-columns: 10vw 1fr 10vw;
    }

    .heading {
        grid-column: 2 / 3;
        grid-row: 1/ 2;
        font-size: 20px;
        padding-top: 50px;
    }

    .skills-container {
        grid-column: 2 / 3;
        line-height: 3rem;
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skills {
        border-radius: 500px;
        padding: 2px 15px;
        align-self: center;
        margin: 5px;
        border-top: 1px solid rgba(255, 255, 255, .5);
        box-shadow: 0 5px 5px 5px rgba(0, 0, 0, .1);
        font-size: 16px;
        user-select: none;
    }

    .front-end {
        background-color: #77BE55;
    }

    .back-end {
        background-color: #37989E;
    }

    .languages {
        background-color: #9C379E;
    }

    .extras-1 {
        background-color: #B6902F;

    }

    .extras-2 {
        background-color: #52379E;
    }
}