@media screen and (min-width: 1025px) {

    .my-skills {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 80rem;
        font-family: 'PoppinsBold';
        margin-left: auto;
        margin-right: auto;
        // background-color: #77BE55;
        // display: grid;
        // grid-template-rows: min-content max-content;
        // grid-row-gap: 3rem;
        // grid-template-columns: 0 1fr 0;
    }

    .heading {
        font-size: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .skills-container {
        line-height: 3rem;
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .skills {
        border-radius: 50rem;
        padding: .2rem 1.5rem;
        align-self: center;
        margin: .5rem;
        border-top: 1px solid rgba(255, 255, 255, .5);
        box-shadow: 0 .5rem .5rem .5rem rgba(0, 0, 0, .1);
        font-size: 1.6rem;
        user-select: none;
    }

    .front-end {
        background-color: #77BE55;
    }

    .back-end {
        background-color: #37989E;
    }

    .languages {
        background-color: #9C379E;
    }

    .extras-1 {
        background-color: #B6902F;

    }

    .extras-2 {
        background-color: #52379E;
    }
}