#name {
  -webkit-animation: fill 1s ease forwards 3.3s;
          animation: fill 1s ease forwards 3.3s;
}

#name path:nth-child(1) {
  stroke-dasharray: 227.3px;
  stroke-dashoffset: 227.3px;
  -webkit-animation: signature 2s ease forwards;
          animation: signature 2s ease forwards;
}

#name path:nth-child(2) {
  stroke-dasharray: 121.8px;
  stroke-dashoffset: 121.8px;
  -webkit-animation: signature 2s ease forwards .3s;
          animation: signature 2s ease forwards .3s;
}

#name path:nth-child(3) {
  stroke-dasharray: 203.96px;
  stroke-dashoffset: 203.96px;
  -webkit-animation: signature 2s ease forwards .6s;
          animation: signature 2s ease forwards .6s;
}

#name path:nth-child(4) {
  stroke-dasharray: 107.3px;
  stroke-dashoffset: 107.3px;
  -webkit-animation: signature 2s ease forwards .9s;
          animation: signature 2s ease forwards .9s;
}

#name path:nth-child(5) {
  stroke-dasharray: 155.3px;
  stroke-dashoffset: 155.3px;
  -webkit-animation: signature 2s ease forwards 1.2s;
          animation: signature 2s ease forwards 1.2s;
}

#name path:nth-child(6) {
  stroke-dasharray: 227.3px;
  stroke-dashoffset: 227.3px;
  -webkit-animation: signature 2s ease forwards 1.5s;
          animation: signature 2s ease forwards 1.5s;
}

#name path:nth-child(7) {
  stroke-dasharray: 121.8px;
  stroke-dashoffset: 121.8px;
  -webkit-animation: signature 2s ease forwards 1.8s;
          animation: signature 2s ease forwards 1.8s;
}

#name path:nth-child(8) {
  stroke-dasharray: 122.2px;
  stroke-dashoffset: 122.2px;
  -webkit-animation: signature 2s ease forwards 2.1s;
          animation: signature 2s ease forwards 2.1s;
}

#name path:nth-child(9) {
  stroke-dasharray: 157.7px;
  stroke-dashoffset: 157.7px;
  -webkit-animation: signature 2s ease forwards 2.4s;
          animation: signature 2s ease forwards 2.4s;
}

#name path:nth-child(10) {
  stroke-dasharray: 121.8px;
  stroke-dashoffset: 121.8px;
  -webkit-animation: signature 2s ease forwards 2.7s;
          animation: signature 2s ease forwards 2.7s;
}

#name path:nth-child(11) {
  stroke-dasharray: 122.2px;
  stroke-dashoffset: 122.2px;
  -webkit-animation: signature 2s ease forwards 3s;
          animation: signature 2s ease forwards 3s;
}

@-webkit-keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes signature {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/PoppinsSemiBold.ttf");
}

:root {
  color-scheme: dark;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #151527;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', 'Segoe UI';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

@media screen and (min-width: 1025px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
    -ms-grid-rows: max-content max-content 1000px;
        grid-template-rows: -webkit-max-content -webkit-max-content 1000px;
        grid-template-rows: max-content max-content 1000px;
    grid-row-gap: 100px;
  }
  .tags {
    position: -webkit-sticky;
    position: sticky;
    margin-top: auto;
    padding: 10px;
    font-size: 1vw;
    opacity: 0.25;
  }
  .home-tag {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    top: 5px;
  }
  .what-i-do-tag {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    top: 4vh;
  }
}

@media screen and (min-width: 1025px) {
  .my-skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    font-family: 'PoppinsBold';
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content max-content;
        grid-template-rows: -webkit-min-content -webkit-max-content;
        grid-template-rows: min-content max-content;
    grid-row-gap: 30px;
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
  }
  .heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
    font-size: 20px;
    padding-top: 50px;
  }
  .skills-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    line-height: 3rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills {
    border-radius: 500px;
    padding: 2px 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .front-end {
    background-color: #77BE55;
  }
  .back-end {
    background-color: #37989E;
  }
  .languages {
    background-color: #9C379E;
  }
  .extras-1 {
    background-color: #B6902F;
  }
  .extras-2 {
    background-color: #52379E;
  }
}

.blog-home {
  margin-top: 5vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.blog-home__heading {
  position: absolute;
  color: rgba(255, 255, 255, 0.05);
  font-size: 9vw;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  padding: 10px 0px;
  z-index: -1;
  font-family: 'PoppinsBold';
}

.blog-home__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.blog-home__tile {
  padding: 40px;
}

.blog-home__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 20px;
  color: #AB69A7;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog-home__title:hover {
  color: #FBBF94;
}

.blog-home__preview {
  overflow-y: hidden;
  font-size: 16px;
  padding: 10px 0px;
  height: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog-home .blog__read-more {
  text-decoration: none;
  color: royalblue;
}

a {
  text-decoration: none;
}

.blog {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw .4fr 1fr 10vw;
      grid-template-columns: 10vw .4fr 1fr 10vw;
}

.blog__post {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  font-size: 1.6rem;
  border-left: 1px solid gray;
  padding-left: 3rem;
  margin-bottom: 10rem;
}

.blog__post--title {
  font-size: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.blog__post--date {
  color: #FBBF94;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.blog__post--body {
  padding: 2rem 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__brand {
  width: 20vw;
  font-size: 1.2vw;
  padding: 0px 3rem;
  font-family: 'PoppinsBold';
}

.navigation__links {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation--links {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 20px;
  font-size: .9vw;
  color: white;
}

.navigation--links:hover {
  color: royalblue;
}

.navigation--links__social:hover {
  text-decoration: none;
}

.active {
  color: royalblue;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 1fr .7fr;
      grid-template-columns: 10vw 1fr .7fr;
  -ms-grid-rows: 45vh 46vh;
      grid-template-rows: 45vh 46vh;
}

.header__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 3 / 4;
  z-index: -1;
  background-image: url("../img/profileBackground.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__primary {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  font-family: 'Poppins';
  font-weight: bolder;
}

.header__primary--hello {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: .5rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.header__primary--name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin-right: 5rem;
  margin-bottom: 2rem;
  font-size: 5rem;
  letter-spacing: 2rem;
  line-height: 7rem;
}

.header__secondary {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__secondary--text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 3rem;
  margin-right: 5vw;
  color: #151527;
  font-family: 'PoppinsBold';
  font-size: 1.6rem;
}

.header__secondary--link {
  text-decoration: none;
  color: royalblue;
}

.header__secondary--link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.header__secondary--button {
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: black;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  outline: 0;
  border: 0;
  font-family: 'PoppinsBold';
  border-radius: 25px;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
}

.header__secondary--button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.1);
}

.header__gradient {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 3 / 3;
  background: -webkit-gradient(linear, left bottom, right top, from(#9255B5), color-stop(#F9A676), to(#FFE3C1));
  background: linear-gradient(to right top, #9255B5, #F9A676, #FFE3C1);
  z-index: -1;
}

@media screen and (max-width: 430px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
    -ms-grid-rows: max-content max-content 1000px;
        grid-template-rows: -webkit-max-content -webkit-max-content 1000px;
        grid-template-rows: max-content max-content 1000px;
    grid-row-gap: 100px;
  }
  .home-tag {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    top: 0;
  }
  .what-i-do-tag {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    top: 12vw;
  }
  .tags {
    position: -webkit-sticky;
    position: sticky;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    margin-top: auto;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    padding-right: 1vw;
    font-size: 1vw;
    opacity: 0.25;
  }
}

@media screen and (max-width: 430px) {
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
    -ms-grid-rows: 50px 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
  }
  .header__topbar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 1 / 1 / 2 / 4;
    display: -ms-grid;
    display: grid;
    /* backdrop-filter: blur(5px); */
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    -webkit-box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
  }
  .header__topbar--brand {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    font-size: 20px;
  }
  .header__topbar--social {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .header__topbar--home {
    display: none;
  }
  .header__topbar--about {
    display: none;
  }
  .header__topbar--portfolio {
    display: none;
  }
  .header__topbar--contact {
    display: none;
  }
  .header__image {
    display: none;
  }
  .header__intro {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 4 / 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr .5fr .5fr .5fr;
        grid-template-rows: 1fr .5fr .5fr .5fr;
    /* padding-top: 80px; */
    /* padding-right: 50px; */
  }
  .header__intro--hello {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    /* padding-bottom: 10px; */
  }
  .header__intro--name {
    display: none;
    /* width: 50px; */
  }
  .header__intro--text {
    padding-top: 20px;
    padding-bottom: 40px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    color: #151527;
    /* background-color: blueviolet; */
    font-family: 'PoppinsBold';
    z-index: 2;
    font-size: 15px;
  }
  .header__intro--button {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/ 5;
    /* margin-top: 30px; */
    width: 150px;
    height: 50px;
    -webkit-appearance: 0;
       -moz-appearance: 0;
            appearance: 0;
    outline: 0;
    border: 0;
    font-family: 'PoppinsBold';
    border-radius: 25px;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .header__intro--button:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 5px 4px rgba(0, 0, 0, 0.1);
  }
  .header__intro-bg {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 3 / 1 / 4 / 4;
    background: -webkit-gradient(linear, left bottom, right top, from(#9255B5), color-stop(#F9A676), to(#FFE3C1));
    background: linear-gradient(to right top, #9255B5, #F9A676, #FFE3C1);
    z-index: -1;
  }
}

@media screen and (max-width: 430px) {
  .my-skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    font-family: 'PoppinsBold';
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content max-content;
        grid-template-rows: -webkit-min-content -webkit-max-content;
        grid-template-rows: min-content max-content;
    grid-row-gap: 30px;
    -ms-grid-columns: 10vw 1fr 10vw;
        grid-template-columns: 10vw 1fr 10vw;
  }
  .heading {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
    font-size: 1.2rem;
  }
  .skills-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    line-height: 3rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    /* background-color: blueviolet; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills {
    border-radius: 500px;
    padding: 2px 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .front-end {
    background-color: #77BE55;
  }
  .back-end {
    background-color: #37989E;
  }
  .languages {
    background-color: #9C379E;
  }
  .extras-1 {
    background-color: #B6902F;
  }
  .extras-2 {
    background-color: #52379E;
  }
}
