@font-face {
	font-family: Poppins;
	src: url("../public/fonts/Poppins/poppins-regular.ttf");
}

@font-face {
	font-family: PoppinsSemibold;
	src: url("../public/fonts/Poppins/poppins-semibold.ttf");
}

@font-face {
	font-family: SFPro;
	src: url("../public/fonts/SFPro/sfpro-text-regular.ttf");
}

@font-face {
	font-family: SFProDisplay;
	src: url("../public/fonts/SFPro/sfpro-display-regular.ttf");
}

@font-face {
	font-family: SFProSemibold;
	src: url("../public/fonts/SFPro/sfpro-text-semibold.ttf");
}

@font-face {
	font-family: SFProDisplayBold;
	src: url("../public/fonts/SFPro/sfpro-display-bold.ttf");
}

@font-face {
	font-family: Overpass;
	src: url("../public/fonts/Overpass/overpass-regular.ttf");
}

@font-face {
	font-family: SFMono;
	src: url("../public/fonts/SFPro/sfmono-regular.ttf");
}


.dark {
	--background-color: #0f111a;
	--background-color-alt: #0f111a;
	--accent-color-alt: #ab69a7;
	--accent-color: #549658;
	--font-color-primary: #ffffff;
	--font-color-primary-alt: #000000;
	--font-color-secondary: rgba(255,255,255, .5);
	--transparency: rgba(255, 255, 255, 0.05);
	--transparency-2: rgba(255, 255, 255, 0.2);
	--transparency-3: rgba(255, 255, 255, 0.3);
	--hover: #0d92ff;
}

.light {
	--background-color: #e3e3e3;
	--background-color-alt: #f0eee5;
	--accent-color-alt: #549658;
	--accent-color: #ab69a7;
	--font-color-primary: #000000;
	--font-color-primary-alt: #ffffff;
	--font-color-secondary: rgba(0, 0, 0, .6);
	--transparency: rgba(0, 0, 0, 0.05);
	--transparency-2: rgba(0, 0, 0, 0.2);
	--transparency-3: rgba(0, 0, 0, 0.3);
	--hover: #0d92ff;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	padding: 0 2rem;
	transition: all 0.2s;
	margin: 0 auto;
	font-family: SFPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--background-color);
	color: var(--font-color-primary);
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--transparency-2);
	/* border-radius: 1rem; */
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0;
}

hr {
	border: 0;
	width: 100%;
	height: 0.5px;
	background-color: gray;
}

* {
	box-sizing: border-box;
}

.token {
	background: none !important;
}

/* :root {
	color-scheme: dark;
} */

/* navstart */
.nav {
	display: flex;
	margin: 0 auto;
	max-width: 100rem;
	height: 6.8rem;
	justify-content: space-between;
	list-style-type: none;
	font-size: 1.4rem;
}

.nav .group {
	display: flex;
	align-items: center;
}

.nav .brand {
	width: max-content;
	padding: 0px 3rem;
	font-size: 2rem;
	list-style-type: none;
	font-family: "PoppinsSemibold";
}

.nav .navlinks {
	transition: all 0.25s;
	margin: 0 2rem;
	text-decoration: none;
}

.nav .social {
	transition: all 0.25s;
	align-self: center;
	font-size: 2rem;
	width: max-content;
	padding: 0.5rem;
}
.nav .social:hover {
	color: var(--hover);
}

.nav .navlinks:hover {
	color: var(--hover);
}
/* navend */


.main {
	padding: 2.5rem;
	max-width: 100rem;
	margin: 0 auto;
	font-size: 1.6rem;
}


/* headerstart */
.header {
	margin: 0 auto;
	height: 95vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10rem;
}

.header .intro {
	display: flex;
	max-width: max-content;
	flex-direction: column;
	font-size: 1.8rem;
}

.header .intro span {
	margin: 1rem 0;
}

.header h1 {
	align-items: center;
	margin: 0;
	padding: 0.7rem 1rem 0 1rem;
	font-family: "Overpass";
	color: var(--font-color-primary-alt);
	background-color: var(--font-color-primary);
	font-size: 6rem;
}

.header .subtitle {
	/* max-width: 50rem; */
	/* color: var(--transparency-3); */
	margin: 5rem 0;
	margin-top: 2rem;
	font-size: 1.8rem;
}

.header .subtitle .grid-2x2 {
	color: var(--font-color-secondary);
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 3rem 1fr;
}

.header .subtitle .grid-2x2 .emoticon {
	grid-column: 1 / 2;
}

.header .contact-buttons{
	display: flex;
}

.contact-buttons button {
	appearance: 0;
	border: 0;
	outline: 0;
	font-family: "SFPro";
	width: 10rem;
	height: 4rem;
	margin: 0 .5rem;
	background-color: var(--transparency);
	color: var(--font-color-primary);
	border-radius: .5rem;
	transition: all 0.5s;
}

button a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header button:hover {
	background-color: var(--transparency-2);
}
.header button:active {
	background-color: var(--transparency-3);
}

.header button .icon {
	margin-right: 0.5rem;
	color: var(--accent-color);
}
/* headerend */


/* aboutmestart */
.aboutme {
	width: fit-content;
	padding: 10rem 0;
}

.heading {
	position: relative;
	margin: 4rem 0;
}

.heading::after {
	position: absolute;
	content: '';
	height: 1px;
	background-color: var(--transparency-2);
	width: 35rem;
	margin-left: 25px;
	top: 50%;
}


.aboutme .techstack {
	display: grid;
	width: 60rem;
	grid-template-columns: 1fr 1fr 1fr;
}

.aboutme .techstack .tech-grid {
	display: flex;
	/* padding: .5rem 0; */
	align-items: center;
}

.tech-grid span {
	display: flex;
	margin: .5rem;
}

/* aboutmeend */

/* projectsstart */

.projects {
	margin-top: 21rem;
}

.project {
	display: flex;
	margin: 5rem 0;
	background-color: var(--transparency);
	border-radius: 1rem;
}

.project .project-thumb {
	width: 40rem;
	height: 15rem;
}

.project .project-desc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem 5rem;
}

.project-desc .feature-name {
	margin: 2rem 0;
}


.project:nth-of-type(even) {
	flex-direction: row-reverse;
	text-align: right;
}

.project:nth-of-type(odd) img {
	border-radius: 1rem 0 0 1rem;
}
.project:nth-of-type(even) img {
	border-radius: 0 1rem 1rem 0;
}

.project:nth-of-type(even) .feature-tags {
	justify-content: flex-end;
}
.project:nth-of-type(odd) .feature-tags {
	justify-content: flex-start;
}

.project:last-child {
	margin: 0 0 15rem 0 ;
}

/* projectsend */


/* skillsstart */
.myskills h1 {
	font-size: 4.8rem;
	padding: 4rem 0;
}

.container {
	line-height: 3rem;
	user-select: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.skills {
	border-radius: 50rem;
	padding: 0.25rem 1rem;
	margin: 0.5rem;
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
	font-size: 1.6rem;
	user-select: none;
}

.skills span {
	display: flex;
	margin: 0 0.5rem;
}

.front-end {
	background-color: #549658;
}

.back-end {
	background-color: #37989e;
}

.languages {
	background-color: #9c379e;
}

.extras-1 {
	background-color: #b6902f;
}

.extras-2 {
	background-color: #52379e;
}
/* skillsend */


/* blogpreviewstart */
.preview {
	max-width: 90rem;
	margin: 20rem auto 5rem auto;
}

.caption {
	position: absolute;
	color: var(--transparency);
	transform: translateY(-50%);
	font-size: 7.5rem;
	z-index: -1;
	font-family: "PoppinsSemibold";
	padding-right: 5rem;
}

.caption h1 {
	margin: 0;
}

.body {
	margin: 0 auto;
	max-width: 60rem;
}

.cards {
	padding: 1rem 4rem;
	border-radius: 1rem;
	cursor: default;
}

.title {
	font-size: 2.4rem;
	font-family: "SFProDisplayBold";
	transition: all 0.25s;
}

.title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.date {
	font-size: 1.2rem;
	color: #007bff;
	margin: 1rem 0;
}

.description {
  margin: 1rem 0;
	font-size: 1.6rem;
	color: gray;
}

.tags {
	display: flex;
	margin: 2rem -0.5rem;
	font-size: 1.25rem;
}

.tag {
	user-select: none;
	margin: 0 0.25rem;
	background-color: rgba(46, 104, 180, 0.15);
	padding: 0.5rem 1rem;
	border-radius: 5rem;
	color: #007bff;
}

.tag:hover {
	background-color: rgba(46, 104, 180, 0.25);
}
/* blogpreviewend */


/* blogindexstart */
.blog h1 {
	display: block;
	font-size: 4.8rem;
	margin: 1rem 0;
	z-index: -1;
	font-family: "PoppinsSemibold";
}

.blog input {
	appearance: 0;
	border: 0;
	width: 35rem;
	height: 4rem;
	padding: 0 2rem;
	background-color: var(--transparency);
	color: var(--font-color-primary);
	font-family: "SFPro";
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.blog .cards {
	padding: 1rem 0rem;
	cursor: default;
}

.blog .cards .title {
	font-size: 2.4rem;
	font-family: "SFProDisplayBold";
	transition: all 0.25s;
}

.blog .cards .title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.blog .cards .date {
	font-size: 1.2rem;
	color: #007bff;
	margin: 1rem 0;
}

.blog .cards .tags {
	display: flex;
	margin: 2rem -0.5rem;
	font-size: 1.25rem;
}

.blog .cards .tags .tag {
	margin: 0 0.25rem;
	background-color: rgba(46, 104, 180, 0.15);
	padding: 0.5rem 1rem;
	border-radius: 5rem;
	color: #007bff;
}

.blog .cards .tags .tag:hover {
	background-color: rgba(46, 104, 180, 0.25);
}
/* blogindexend */


/* blogpoststart */
.markdown h1 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.markdown code {
	color: blueviolet;
	border-radius: 0.2rem;
	background-color: var(--transparency);
	padding: 0.1rem 0.5rem;
	font-family: SFMono;
}

.markdown {
	width: 100%;
	line-height: 3rem;
	font-size: 1.6rem;
}

.post article {
	padding: 0 2rem;
}
/* blogpostend */


/* footerstart */
.footer {
	display: flex;
	margin: 0 auto;
	max-width: 100rem;
	height: 6.8rem;
	justify-content: space-between;
  list-style-type: none;
	font-size: 1.4rem;
}

.footer .brand {
	font-family: "PoppinsSemibold";
	font-size: 2rem;
	align-self: center;
	padding: 0px 3rem;
}

.footer .group {
	display: flex;
	align-items: center;
}

.footer .footerlinks {
	transition: all 0.25s;
	margin: 0 2rem;
}

.footer .social {
	transition: all 0.25s;
	align-self: center;
	font-size: 2rem;
	width: max-content;
	padding: .5rem;
}

.footer .social:hover {
	color: var(--hover);
}
/* footerend */
